In [1]:
import csv
import pandas as pd
import numpy as np
data = pd.read_csv('data_for_student_case-2.csv')
# data

In [2]:
## the whole time period 
print(min(data['bookingdate']))
print(max(data['bookingdate']))
print(min(data['creationdate']))
print(max(data['creationdate']))

## playing with datetime in python, convert string to datetime
from datetime import datetime
date_format = "%Y-%m-%d %H:%M:%S"
a = datetime.strptime('2015-07-01 00:00:15', date_format)
b = datetime.strptime('2015-10-31 23:59:12', date_format)
delta = b - a
period = delta.days
print(period) # that's it
datea = a.date()
timea = a.time()
print(datea)
print(timea)
type(datea)
type(a)
type(data['creationdate'][1])
data['creationdate'][1][:10] #pick the first 10 bits of string --> only date in datetime

2015-07-01 00:00:15
2016-03-05 05:35:41
2015-07-01 00:00:15
2015-10-31 23:59:12
122
2015-07-01
00:00:15

'2015-07-02'

In [3]:
## check how many kinds of currency are there?
currencylist = data['currencycode'].unique()
print(currencylist)

##build a dic of currency rate against EUR
currencyconvert = {"AUD":0.680237,"MXN":0.0487438,"NZD":0.630313,"GBP":1.18285,"SEK":0.103558}

['MXN' 'AUD' 'NZD' 'GBP' 'SEK']

In [4]:
## convert all the transaction amount to EUR
amountEUR = []
for i in data.index:
    if data['currencycode'][i] == "MXN":
        amountEUR.append(currencyconvert["MXN"]*data['amount'][i])
#         print(datacharge.loc[i,['currencycode']])
    if data['currencycode'][i] == "AUD":
        amountEUR.append(currencyconvert["AUD"]*data['amount'][i])

    if data['currencycode'][i] == "NZD":
        amountEUR.append(currencyconvert["NZD"]*data['amount'][i])

    if data['currencycode'][i] == "GBP":
        amountEUR.append(currencyconvert["GBP"]*data['amount'][i])

    if data['currencycode'][i] == "SEK":
        amountEUR.append(currencyconvert["SEK"]*data['amount'][i])
# amountEUR

In [5]:
## add  the new amount in EUR to data as new column
data['amountEUR']=amountEUR
data

,txid,bookingdate,issuercountrycode,txvariantcode,bin,amount,currencycode,shoppercountrycode,shopperinteraction,simple_journal,cardverificationcodesupplied,cvcresponsecode,creationdate,accountcode,mail_id,ip_id,card_id,amountEUR
0,1,2015-11-09 14:26:51,MX,mccredit,530056.0,64800.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-01 23:03:11,MexicoAccount,email68370,ip111778,card184798,3158.598240
1,2,2015-11-09 14:27:38,MX,mccredit,547046.0,44900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-02 04:50:55,MexicoAccount,email101299,ip78749,card151595,2188.596620
2,3,2015-11-23 16:34:16,MX,mccredit,528843.0,149900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-02 14:30:28,MexicoAccount,email278604,ip70594,card242142,7306.695620
3,4,2015-11-23 16:34:51,MX,mccredit,547146.0,109900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-03 07:53:37,MexicoAccount,email47409,ip113648,card181744,5356.943620
4,5,2015-11-09 14:26:08,MX,visaclassic,477291.0,89900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-08 18:35:35,MexicoAccount,email205501,ip83553,card97271,4382.067620
5,6,2015-11-09 14:26:25,MX,visaclassic,493161.0,79900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-08 23:04:26,MexicoAccount,email243511,ip112410,card159816,3894.629620
6,7,2015-11-09 14:26:47,MX,visaclassic,477291.0,69900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-09 02:31:36,MexicoAccount,email137086,ip83481,card251249,3407.191620
7,8,2015-11-23 16:34:29,MX,mccredit,520416.0,129900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-09 04:56:48,MexicoAccount,email295644,ip66704,card70297,6331.819620
8,9,2015-12-08 19:58:35,MX,visaclassic,477291.0,129900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-09 22:55:40,MexicoAccount,email115605,ip68088,card39791,6331.819620
9,10,2015-11-09 14:25:50,MX,mccredit,549138.0,99900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-11 09:44:14,MexicoAccount,email182966,ip113025,card160922,4869.505620
10,11,2015-11-23 16:34:29,MX,mccredit,520416.0,129900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-11 18:54:05,MexicoAccount,email121326,ip66645,card101732,6331.819620
11,12,2015-11-09 14:26:11,MX,mcdebit,525678.0,84915.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-15 23:46:02,MexicoAccount,email73234,ip76993,card208276,4139.079777
12,13,2015-12-08 19:58:35,MX,visagold,493173.0,119900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-17 03:25:00,MexicoAccount,email92697,ip76878,card264612,5844.381620
13,14,2015-11-09 14:25:51,MX,visagold,477213.0,99900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-17 07:52:16,MexicoAccount,email128862,ip70728,card250464,4869.505620
14,15,2015-11-23 16:34:25,MX,mccredit,520416.0,137900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-19 01:54:35,MexicoAccount,email205298,ip78514,card214147,6721.770020
15,16,2015-11-23 16:34:41,MX,visaclassic,455545.0,115300.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-21 21:30:18,MexicoAccount,email200329,ip85198,card67812,5620.160140
16,17,2015-11-23 16:34:56,MX,mccredit,528843.0,102900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-22 01:22:11,MexicoAccount,email52218,ip66658,card15137,5015.737020
17,18,2015-11-23 16:34:06,MX,visaclassic,426807.0,159900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-22 02:36:30,MexicoAccount,email241832,ip77787,card31669,7794.133620
18,19,2015-12-08 19:58:35,MX,mccredit,544549.0,89165.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-22 07:09:44,MexicoAccount,email171889,ip70519,card241186,4346.240927
19,20,2015-11-23 16:34:39,MX,mccredit,557910.0,119900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-23 18:55:21,MexicoAccount,email260026,ip65124,card157094,5844.381620
20,21,2015-11-23 16:34:05,MX,mccredit,520416.0,160800.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-23 23:44:27,MexicoAccount,email105581,ip81624,card235670,7838.003040
21,22,2015-12-08 19:58:35,MX,mccredit,520021.0,89900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-25 23:11:22,MexicoAccount,email250381,ip64823,card43275,4382.067620
22,23,2015-11-09 14:25:54,MX,mccredit,520021.0,97900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-26 03:55:52,MexicoAccount,email13339,ip67976,card270780,4772.018020
23,24,2015-11-23 16:34:28,MX,mccredit,518853.0,129900.0,MXN,US,Ecommerce,Chargeback,True,0,2015-07-26 22:22:29,MexicoAccount,email100813,ip352385,card236034,6331.819620
24,25,2015-11-12 13:16:34,MX,mccredit,520416.0,191900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-28 18:02:51,MexicoAccount,email21032,ip70585,card252061,9353.935220
25,26,2015-11-09 14:25:57,MX,mccredit,554900.0,93415.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-28 22:40:35,MexicoAccount,email93270,ip112449,card147712,4553.402077
26,27,2015-11-12 13:16:34,MX,visaclassic,477291.0,289900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-29 17:56:53,MexicoAccount,email21032,ip70585,card140567,14130.827620
27,28,2015-11-23 16:34:40,MX,visaplatinum,477214.0,118900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-30 05:48:47,MexicoAccount,email332232,ip112910,card148220,5795.637820
28,29,2015-11-12 13:16:34,MX,visaplatinum,410181.0,329900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-30 07:30:54,MexicoAccount,email136002,ip111250,card45886,16080.579620
29,30,2015-11-12 13:16:34,MX,visaplatinum,410181.0,181900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-30 07:38:38,MexicoAccount,email136002,ip111250,card45886,8866.497220
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
290352,482699,2015-11-02 20:34:44,SE,visadebit,455262.0,106250.0,SEK,SE,Ecommerce,Settled,True,1,2015-10-31 19:23:11,SwedenAccount,email29992,ip126714,card64853,11003.037500
290353,482700,2015-11-03 08:12:14,SE,mcdebit,522660.0,131200.0,SEK,SE,Ecommerce,Settled,True,1,2015-10-31 19:35:24,SwedenAccount,email27002,ip201528,card74554,13586.809600
290354,482702,2015-10-31 22:03:39,SE,mcdebit,522660.0,98500.0,SEK,SE,Ecommerce,Settled,True,1,2015-10-31 19:52:11,SwedenAccount,email108911,ip226744,card145618,10200.463000
290355,482703,2015-11-02 20:16:57,SE,mcdebit,554501.0,34900.0,SEK,SE,Ecommerce,Settled,True,1,2015-10-31 19:55:50,SwedenAccount,email250942,ip166144,card65471,3614.174200
290356,482704,2015-11-03 08:12:14,SE,mccredit,521358.0,94900.0,SEK,IT,Ecommerce,Settled,True,1,2015-10-31 19:59:26,SwedenAccount,email227126,ip166208,card41266,9827.654200
290357,482705,2015-11-02 20:34:44,SE,mcdebit,554501.0,64900.0,SEK,SE,Ecommerce,Settled,True,1,2015-10-31 20:01:58,SwedenAccount,email255010,ip201874,card248629,6720.914200
290358,482707,2015-11-03 08:12:14,SE,mcdebit,554501.0,39900.0,SEK,SE,Ecommerce,Settled,True,1,2015-10-31 20:23:30,SwedenAccount,email123982,ip200750,card104606,4131.964200
290359,482708,2015-11-02 20:34:44,SE,visadebit,453903.0,36900.0,SEK,SE,Ecommerce,Settled,True,1,2015-10-31 20:32:59,SwedenAccount,email54526,ip317614,card227387,3821.290200
290360,482709,2015-11-03 08:12:14,SE,visadebit,453904.0,45000.0,SEK,SE,Ecommerce,Settled,True,1,2015-10-31 20:35:19,SwedenAccount,email278152,ip228975,card157536,4660.110000
290361,482711,2015-11-03 08:12:14,SE,visadebit,453903.0,47400.0,SEK,SE,Ecommerce,Settled,True,1,2015-10-31 20:37:32,SwedenAccount,email6386,ip233190,card36252,4908.649200
290362,482712,2015-11-02 20:34:44,SE,visadebit,453903.0,68650.0,SEK,SE,Ecommerce,Settled,True,1,2015-10-31 20:43:38,SwedenAccount,email172834,ip125673,card230182,7109.256700
290363,482713,2015-11-03 08:12:14,SE,visadebit,453903.0,108400.0,SEK,SE,Ecommerce,Settled,True,1,2015-10-31 20:47:40,SwedenAccount,email172986,ip329267,card217014,11225.687200
290364,482714,2015-11-03 22:33:58,SE,mccredit,544481.0,88900.0,SEK,SE,Ecommerce,Settled,True,1,2015-10-31 20:50:26,SwedenAccount,email209947,ip227635,card246061,9206.306200
290365,482715,2015-11-02 20:34:44,SE,mcdebit,516815.0,81400.0,SEK,SE,Ecommerce,Settled,True,1,2015-10-31 20:58:47,SwedenAccount,email252867,ip294842,card186257,8429.621200
290366,482716,2015-11-02 20:34:44,SE,mcdebit,554501.0,77400.0,SEK,SE,Ecommerce,Settled,True,1,2015-10-31 21:07:23,SwedenAccount,email97210,ip233810,card11274,8015.389200
290367,482717,2015-11-02 20:34:44,SE,visadebit,453903.0,100000.0,SEK,SE,Ecommerce,Settled,True,1,2015-10-31 21:17:28,SwedenAccount,email159702,ip294829,card208856,10355.800000
290368,482718,2015-11-03 18:56:44,SE,mcdebit,557447.0,43150.0,SEK,SE,Ecommerce,Settled,True,1,2015-10-31 21:18:56,SwedenAccount,email262419,ip179436,card265298,4468.527700
290369,482719,2015-11-03 08:12:14,SE,visadebit,457241.0,84900.0,SEK,SE,Ecommerce,Settled,True,1,2015-10-31 21:23:20,SwedenAccount,email7435,ip202041,card56985,8792.074200
290370,482720,2015-11-03 08:12:14,SE,mcdebit,554501.0,70000.0,SEK,SE,Ecommerce,Settled,True,1,2015-10-31 21:30:35,SwedenAccount,email146121,ip201392,card193395,7249.060000
290371,482722,2015-11-03 08:12:14,SE,mcdebit,522660.0,104100.0,SEK,SE,Ecommerce,Settled,True,1,2015-10-31 21:59:38,SwedenAccount,email27002,ip201528,card74554,10780.387800
290372,482723,2015-11-03 08:12:14,SE,mcdebit,522660.0,48900.0,SEK,SE,Ecommerce,Settled,True,1,2015-10-31 22:43:46,SwedenAccount,email118283,ip201647,card15570,5063.986200
290373,482724,2015-11-02 17:04:57,SE,mcdebit,557447.0,110000.0,SEK,SE,Ecommerce,Settled,True,1,2015-10-31 22:44:05,SwedenAccount,email331915,ip230093,card267385,11391.380000
290374,482725,2015-11-03 08:12:14,SE,mccredit,518620.0,94900.0,SEK,SE,Ecommerce,Settled,True,1,2015-10-31 23:01:05,SwedenAccount,email31127,ip135344,card141967,9827.654200
290375,482726,2015-11-03 08:12:14,SE,visadebit,453903.0,181600.0,SEK,SE,Ecommerce,Settled,True,1,2015-10-31 23:11:00,SwedenAccount,email105574,ip125631,card43585,18806.132800
290376,482728,2015-11-02 20:34:44,SE,mcdebit,554501.0,34900.0,SEK,SE,Ecommerce,Settled,True,1,2015-10-31 23:20:35,SwedenAccount,email101064,ip226979,card147654,3614.174200
290377,482729,2015-11-03 18:57:01,SE,visadebit,453903.0,48100.0,SEK,SE,Ecommerce,Settled,True,1,2015-10-31 23:21:58,SwedenAccount,email135821,ip125573,card83162,4981.139800
290378,482731,2015-11-03 08:12:14,SE,mcdebit,554501.0,195000.0,SEK,SE,Ecommerce,Settled,True,1,2015-10-31 23:31:24,SwedenAccount,email259702,ip202029,card131519,20193.810000
290379,482732,2015-11-03 08:12:14,SE,visadebit,453903.0,52500.0,SEK,SE,Ecommerce,Settled,True,1,2015-10-31 23:41:40,SwedenAccount,email32927,ip229869,card142173,5436.795000
290380,482733,2015-11-03 18:56:44,SE,mcdebit,554501.0,87700.0,SEK,SE,Ecommerce,Settled,True,1,2015-10-31 23:50:07,SwedenAccount,email97400,ip200721,card141579,9082.036600
290381,482734,2015-11-03 08:12:14,SE,mcdebit,554501.0,58500.0,SEK,SE,Ecommerce,Settled,True,1,2015-10-31 23:55:02,SwedenAccount,email12831,ip199739,card269508,6058.143000

In [6]:
## build a new dataframe with transactions labeled as "Chargeback","Settled","Refused"
data_chargeback = data[data['simple_journal']=='Chargeback']
data_settled = data[data['simple_journal']=='Settled']
data_refused = data[data['simple_journal']=='Refused']

## sort the 'Chargeback' transactions by 'creationdate'
# result = data_chargeback.sort(['creationdate'])
# result

##calculate the ratio of each type
c = len(data_chargeback)/len(data)
s = len(data_settled)/len(data)
r = len(data_refused)/len(data)

print ('\n The number of "%s"  is %d, consisting %f of total transactions.' % ("Chargeback", len(data_chargeback),c))
print ('\n The number of "%s"  is %d, consisting %f of total transactions.' % ("Settled", len(data_settled),s))
print ('\n The number of "%s"  is %d, consisting %f of total transactions.' % ("Refused", len(data_refused),r))

 The number of "Chargeback"  is 345, consisting 0.001188 of total transactions.

 The number of "Settled"  is 236691, consisting 0.815102 of total transactions.

 The number of "Refused"  is 53346, consisting 0.183710 of total transactions.

In [7]:
## in order to do the aggregate analysis by day,
## build a function to convert the datetime in string to datetime in python, 
## and pick only the date excepting time, 
def perday(df,DateName):
    df[DateName] = pd.to_datetime(df[DateName])
    df[DateName] = df[DateName].dt.date
    return df

datacharge = perday(data_chargeback,'creationdate')
datasettled = perday(data_settled,'creationdate')
datarefused = perday(data_refused,'creationdate')

/usr/local/lib/python3.5/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [9]:
##group the transaction by day, count the number of transactions per day 
## calculate the average amount of transactions per day
perday_nchargeback = datacharge.groupby('creationdate').size()
perday_mchargeback = datacharge.groupby('creationdate')['amountEUR'].mean()

## for 'settled'
perday_nsettled = datasettled.groupby('creationdate').size()
perday_msettled = datasettled.groupby('creationdate')['amountEUR'].mean()

## for 'refused'
perday_nrefused = datarefused.groupby('creationdate').size()
perday_mrefused = datarefused.groupby('creationdate')['amountEUR'].mean()

##generate the array of date for each type
datelistc = datacharge['creationdate'].unique()
datelists = datasettled['creationdate'].unique()
datelistr = datarefused['creationdate'].unique()
# datelist = []
# for i in range(len(datelists)):
#     datelist.append(i)
# datelist
datelistc

array([datetime.date(2015, 7, 1), datetime.date(2015, 7, 2),
       datetime.date(2015, 7, 3), datetime.date(2015, 7, 8),
       datetime.date(2015, 7, 9), datetime.date(2015, 7, 11),
       datetime.date(2015, 7, 15), datetime.date(2015, 7, 17),
       datetime.date(2015, 7, 19), datetime.date(2015, 7, 21),
       datetime.date(2015, 7, 22), datetime.date(2015, 7, 23),
       datetime.date(2015, 7, 25), datetime.date(2015, 7, 26),
       datetime.date(2015, 7, 28), datetime.date(2015, 7, 29),
       datetime.date(2015, 7, 30), datetime.date(2015, 7, 31),
       datetime.date(2015, 8, 1), datetime.date(2015, 8, 3),
       datetime.date(2015, 8, 4), datetime.date(2015, 8, 5),
       datetime.date(2015, 8, 6), datetime.date(2015, 8, 8),
       datetime.date(2015, 8, 10), datetime.date(2015, 8, 12),
       datetime.date(2015, 8, 13), datetime.date(2015, 8, 15),
       datetime.date(2015, 8, 18), datetime.date(2015, 8, 20),
       datetime.date(2015, 8, 22), datetime.date(2015, 8, 25),
       datetime.date(2015, 8, 27), datetime.date(2015, 8, 28),
       datetime.date(2015, 8, 30), datetime.date(2015, 8, 31),
       datetime.date(2015, 9, 2), datetime.date(2015, 9, 3),
       datetime.date(2015, 9, 4), datetime.date(2015, 9, 5),
       datetime.date(2015, 9, 6), datetime.date(2015, 9, 7),
       datetime.date(2015, 9, 9), datetime.date(2015, 9, 11),
       datetime.date(2015, 9, 14), datetime.date(2015, 9, 18),
       datetime.date(2015, 9, 19), datetime.date(2015, 9, 21),
       datetime.date(2015, 9, 23), datetime.date(2015, 9, 25),
       datetime.date(2015, 9, 27), datetime.date(2015, 9, 30),
       datetime.date(2015, 10, 2), datetime.date(2015, 10, 5),
       datetime.date(2015, 10, 6), datetime.date(2015, 10, 7),
       datetime.date(2015, 10, 8), datetime.date(2015, 10, 9),
       datetime.date(2015, 10, 10), datetime.date(2015, 10, 12),
       datetime.date(2015, 10, 13), datetime.date(2015, 10, 14),
       datetime.date(2015, 10, 16), datetime.date(2015, 10, 17),
       datetime.date(2015, 10, 19), datetime.date(2015, 10, 20),
       datetime.date(2015, 10, 21), datetime.date(2015, 10, 23),
       datetime.date(2015, 10, 24), datetime.date(2015, 10, 25),
       datetime.date(2015, 10, 26), datetime.date(2015, 10, 27),
       datetime.date(2015, 10, 30), datetime.date(2015, 10, 31),
       datetime.date(2015, 7, 4), datetime.date(2015, 7, 6),
       datetime.date(2015, 7, 10), datetime.date(2015, 7, 12),
       datetime.date(2015, 7, 13), datetime.date(2015, 7, 16),
       datetime.date(2015, 7, 24), datetime.date(2015, 8, 2),
       datetime.date(2015, 8, 9), datetime.date(2015, 8, 11),
       datetime.date(2015, 8, 16), datetime.date(2015, 8, 17),
       datetime.date(2015, 8, 21), datetime.date(2015, 8, 23),
       datetime.date(2015, 8, 24), datetime.date(2015, 8, 26),
       datetime.date(2015, 9, 1), datetime.date(2015, 9, 8),
       datetime.date(2015, 9, 12), datetime.date(2015, 9, 15),
       datetime.date(2015, 9, 22), datetime.date(2015, 9, 24),
       datetime.date(2015, 9, 26), datetime.date(2015, 9, 29),
       datetime.date(2015, 10, 1), datetime.date(2015, 10, 3),
       datetime.date(2015, 10, 11), datetime.date(2015, 10, 22),
       datetime.date(2015, 10, 28), datetime.date(2015, 7, 27),
       datetime.date(2015, 9, 20), datetime.date(2015, 7, 7),
       datetime.date(2015, 7, 20), datetime.date(2015, 8, 29),
       datetime.date(2015, 9, 10), datetime.date(2015, 9, 13),
       datetime.date(2015, 10, 29)], dtype=object)